:root {
  --color-primary: #6070ff;
  --color-primary-light: #7f8cff;
  --color-text: #344563;
  --color-text-dark: #172b4d;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 65%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  line-height: 2.4rem;
  background-color: #fff;
  color: var(--color-text);
  text-align: left;
}

.nav_container {
  height: 5rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 2.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_container > a {
  color: var(--color-primary);
  text-decoration: none;
}

.nav_container > *:hover {
  cursor: pointer;
}

.headline {
  background-image: url("assets/header-shapes mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.4rem;
}

.headline > h1 {
  color: var(--color-text-dark);
  text-align: left;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  padding-top: 7rem;
  margin-bottom: 1.6rem;
}

.headline > h4 {
  font-weight: 500;
  color: var(--color-primary-light);
  text-transform: uppercase;
  margin: 1.6rem 0;
}

.headline_socials {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headline_socials > li {
  margin-right: 2.6rem;
  height: 20px;
}

.medium-icon {
  position: relative;
  top: 0.3rem;
}
